install/
build/
log/
Log/
*.pcd
.vscode
__pycache__
.env
.DS_Store
src/base_autonomy/vehicle_simulator/mesh/*

!src/base_autonomy/vehicle_simulator/mesh/unity

src/base_autonomy/vehicle_simulator/mesh/unity/*

src/base_autonomy/vehicle_simulator/log/*

